@font-face {
	font-family: 'Trajan';
	src: url('editor/Trajan Pro Regular.woff2') format('woff2'),
		url('editor/Trajan Pro Regular.woff') format('woff'),
		url('editor/Trajan Pro Regular.svg#TrajanPro-Regular') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Old Republic';
	src: url('editor/OldRepublic-Bold.woff2') format('woff2'),
		url('editor/OldRepublic-Bold.woff') format('woff'),
		url('editor/OldRepublic-Bold.svg#OldRepublic-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 35px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background:#212121;
}

.top-menu {
  z-index: 99;
  -webkit-app-region: drag;
}

.top-menu li, .top-menu a, .top-menu button {
  -webkit-app-region: no-drag;
}

/* Remove margins and padding from the list, and add a black background color */
.top-menu.navbar.navbar-default {
  background: #212121!important;
  border-color: #121212;
  border-radius: 0;
}

.top-menu .nav li a, .dropdown-menu li a {
  color:white;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  color: white;
  background: #212121;
  border-right: 2px solid #0c435d;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}

.top-menu #app-title {
	display: none;
}

.menu-accent {
	width: calc(75% + 20px);
	margin: auto;
}

.menu-accent::after {
	 content: '';
   width: 0;
   height: 0;
   border-top: 10px solid #0D5171;
   border-right: 10px solid transparent;
	 display: inline-block;
	 vertical-align: top;
}

.menu-accent .inner {
	width: calc(100% - 20px);
	height: 10px;
	background: #0D5171;
	display: inline-block;
	vertical-align: top;
}

.menu-accent::before {
   content: '';
   width: 0;
   height: 0;
   border-top: 10px solid #0D5171;
   border-left: 10px solid transparent;
	 display: inline-block;
	 vertical-align: top;
}

.modal-content .menu-accent {
	margin-top: -10px;
}

/* Float the list items side by side */
ul.topnav li {float: left; -webkit-app-region: no-drag;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    cursor: pointer;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.top-menu .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
}

.top-menu>b {
		padding: 10px 15px;
    padding-top: 5px;
    padding-bottom: 0px;
    line-height: 30px;
}
.top-menu .navbar-nav>li>ul.dropdown-menu>li.title {
	padding: 10px 15px;
	padding-top: 2px;
	padding-bottom: 1px;
	line-height: 30px;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #FFF;
    background-color: #3578BD;
    background-image: initial;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #C9DDE6;
    background-color: transparent;
}

.dropdown-menu {
  background-color: #212121;
  background-image: initial;
}

.dropdown-menu .divider {
    background-color: #1D1D1D;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-image: initial;
  background-color: #3578BD;
}

.dropdown-menu.side {
    margin-left: 100px;
    margin-top: -25px;
}

li.dropdown > a:hover + .dropdown-menu.side, li.dropdown > a + .dropdown-menu.side:hover {
    display: block;
}

.navbar-nav {

	background: #265c8c;

}

.context-menu {
	display: block;
	z-index: 99;
	position: fixed;
	top: 75px;
	border-radius: 5px;
	padding: 5px;
	background: #212121;
}

.context-menu > ul {
	list-style: none;
	padding: 0;
}

.context-menu > ul > li {
	cursor: pointer;
}

body {
  border-radius: 5px;
  overflow: hidden;
  background: #333;
	font-family: 'Roboto', sans-serif;
  color: #CCC;
}

#container {
  /*background: url('../images/editor-background.jpg') #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

#renderer-container {
  overflow: hidden;
  padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderer-container #render-stats {
  position: absolute;
  top:5px;
  left:5px;
  color: red;
}

#loader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

#loader .loading-container {
  position: fixed;
top: calc(50% + 10px);
left: calc(50% - 24px);
}

#loader .loading-container .loading-message {
  text-align: center;
	position: relative;
  display: block;
}

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -webkit-animation: spin .5s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    -webkit-animation: spinoff .5s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}


.form-control, pre, input[type=text], input[type=number], input[type=cexolocstring], textarea {
    /* display: block; */
    width: 100%;
    padding: 5px 9px;
    font-size: 15px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background: #133652;
    background: linear-gradient(#133652 0%, #205784 100%);
    /* border: 2px solid #2196F3; */
    border: 2px solid #2a7ab9;
    color: #CCC;
    border-radius:5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px #1d1d1d;
}

select {
  height: 100%!important;
  border-radius: 5px;
  border: 2px solid #2196F3;
  padding: 5px;
  background: #133652;
  outline-color: #2196F3;
  background-image: linear-gradient(#133652 0%, #205784 100%);
  border: 2px solid #2a7ab9;
  outline-color: #2a7ab9;
  display: block;
  margin-bottom: 5px;
  box-shadow: 2px 2px 10px #1d1d1d;
  width: 100%;
}

button[disabled], html input[disabled], textarea[disabled] {
    cursor: default;
    background: #364550;
    border: 2px solid #2D5A7D;
}

fieldset {
    border: 2px solid #0C548E;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px 10px 10px;
}

legend {
    color: #ccc;
    border-bottom: none;
    margin-bottom: 0;
}

ul.tree {
    white-space: nowrap;
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
    display: inline-block;
}

.editor-3d-preview {
    box-shadow: 0 0 50px inset rgba(0,0,0,.5);
}

div#editor-content {
    border-left: 1px solid #464646;
}

.container {
    border-right: 1px solid #252525;
}

.inline-audio-player {
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    background: #212121;
    /* box-shadow: 1px 1px 5px #000; */
    z-index: 99;
		cursor: all-scroll;
}

.inline-audio-player .audio-player-controls {
    cursor: initial;
		display:flex;
}

.inline-audio-player .audio-player-controls span.glyphicon {
	color: #258CE4;
}

.inline-audio-player .audio-player-controls input[type=range].track
{
	    flex-grow: 100;
			margin: 0 5px;
			width: auto;
			display:inline-block;
			vertical-align: middle;
			border: none!important;
}

.inline-audio-player .audio-player-controls .track-pop {
	background: #212121;
	border-radius:10px;
	padding: 0 5px;
}

.css-treeview ul,
.css-treeview li
{
	margin: 0;
	list-style: none;
}

.css-treeview input
{
	position: absolute;
	opacity: 0;
}

.css-treeview
{
	-webkit-user-select: none;
	user-select: none;
}

.css-treeview a
{
	color: #00f;
	text-decoration: none;
}

.css-treeview a:hover
{
	text-decoration: underline;
}

.css-treeview input + ul
{
	margin: 0 0 0 22px;
}

.css-treeview input + label + span + ul
{
	display: block;
	padding-left:20px;
}

.css-treeview label,
.css-treeview label::before
{
	cursor: pointer;
}

.css-treeview input:disabled + label
{
	cursor: default;
	opacity: .6;
}

.css-treeview input:checked:not(:disabled) + label + span + ul
{
	display: none;
}

.css-treeview label::before
{
	/*background: url("../images/treeview-icons.png") no-repeat;*/
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before
{
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
}

.css-treeview label {
	vertical-align: middle;
}

.css-treeview label::before {
    content: "\e159";
    width: 16px;
    vertical-align: middle;
    font-weight: normal;
    font-family: 'Glyphicons Halflings';
    color: #2196f3;
    font-size: 16px;
		margin: 0 5px 0 0;
}

.css-treeview input:checked + label::before {
    content: "\e158";
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.css-treeview
	{
		-webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
	}

	@-webkit-keyframes webkit-adjacent-element-selector-bugfix
	{
		from
		{
			padding: 0;
		}
		to
		{
			padding: 0;
		}
	}
}

.entrynode {
	color: #e43a35;
}

.replynode {
	color: #337ab7;
}

.linknode {
	color: #989898;
}

.modal-content {
  background-color: #333;
	height: 100%;
	border-radius: 0;
	padding: 10px;
}

.modal-header {
    border-bottom: 1px solid #1D1D1D;
}

.modal-footer {
    border-top: 1px solid #1D1D1D;
}

.ui-layout-pane {
    padding: 0!important;
}

.tree-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tree-container > label {
	background: #265c8c;
	display:block;
	padding:5px;
}

.scroll-container {
	position: relative;
  height: 100%;
	padding:5px;
  /*float: left;*/
	overflow:scroll;
}

.input-group > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button, .btn-default {
    font-size: initial;
    margin-left: 10px;
    background: #256DA7;
    border: 2px solid #2196F3;
    padding: 9.5px;
    border-radius: 5px;
		color: inherit;
		text-shadow: 0 1px 0 #0C3D5A;
}

.btn-default:focus, .btn-default:hover {
    background-color: #256DA7;
		border-color: #90CEFF;
    background-position: 0 -15px;
		color: #FFF;
}

.btn-default.active, .btn-default:active {
    background-color: #256DA7;
    border-color: #2196F3;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #FFF;
    background-color: #256DA7;
    border-color: #2196F3;
}

#tabs-container {
	height: 100%;
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    width: calc( 100% - 50px );
    background: #212121;
		white-space: nowrap;
    overflow: hidden;
}

.tabs-menu li {
    height: 30px;
    /*float: left;*/
    background-color: #1B1A1A;
    border-left: 3px solid #212121;
    color: #CCC;
}

.tabs-menu li.btn.btn-tab {
	border-radius: 0;
}

.tabs-menu li.current {
    position: relative;
		background-color: #333333;
		border-left: 3px solid #128EC7;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #CCC;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #CCC;
}

.tabs-menu li:hover {
	color: #CCC;
}

.tabs-menu li .close {
	text-shadow: 0 1px 0 #000000;
}

.tabs-menu li .close:focus, .tabs-menu li .close:hover {
  color: #FFF;
}

.tabs-scroll-control {
	float: left;
	position: relative;
	width: 50px;
	height: 30px;
	box-sizing: border-box;
}

.tabs-scroll-control-btn {
	background: #1b1a1a;
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	text-align: center;
	cursor: pointer;
}

.tabs-scroll-control-btn:hover {
    background: #265c8c;
}

.tabs-scroll-control-btn.left {
	border-right: 1px solid #2e2e2e;
}

.tabs-scroll-control-btn.left::after {
	content: "\3008";
  line-height: 30px;
	font-weight: bold;
}

.tabs-scroll-control-btn.right {
	border-left: 1px solid #2e2e2e;
}

.tabs-scroll-control-btn.right::after {
	content: "\3009";
  line-height: 30px;
	font-weight: bold;
}


.tab {
    border: 1px solid #2196F3;
    float: left;
    width: 100%;
		height: calc(100% - 30px);
}

.tab-content {
		width: 100%;
		height: 100%;
    display: none;
}

#tab-1 {
 display: block;
}

.tab-pane.QuickStartTab {
	background-image: url(../images/editor-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.tab-pane.QuickStartTab > .row {
	background: rgba(17, 39, 56, 0.43);
	height: 100%;
}

.close {
	color: inherit;
opacity: initial;
}

.close:hover {
	color: #FFF;
opacity: initial;
}

.alert-warning.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.notify-holder {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	z-index: 99999999;
}

.input-group-addon {
    color: #CCC;
    background-color: #133652;
    border: 2px solid #2196F3;
}

.nav-tabs {
    border-bottom: 1px solid #5bc0de;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ccc;
    cursor: default;
    background-color: #337ab7;
    border: 1px solid #5bc0de;
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover {
    border-color: #5bc0de #5bc0de #5bc0de;
		color: #FFF;
		cursor: pointer;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #337ab7;
}


/* Wizrd Modal */

.navbar.navbar-sidebar-wizard {
    background: #464646;
    color: #CCC;
	border-radius: 0px;
}

.navbar.navbar-sidebar-wizard li {
	width: 100%;
	float: left;
}

.navbar.navbar-sidebar-wizard a {
    color: #CCC;
}

.navbar.navbar-sidebar-wizard a:hover, .navbar.navbar-sidebar-wizard a:focus {
    background: #256DA7;
}

.navbar.navbar-sidebar-wizard-horizontal {
    background: #464646;
    color: #CCC;
    border-radius: 0px;
    padding: 0;
    margin-bottom: 0;
    min-height: auto;
}

.navbar.navbar-sidebar-wizard-horizontal li {
	display: inline-block;
}

.navbar.navbar-sidebar-wizard-horizontal a {
    color: #CCC;
}

.navbar.navbar-sidebar-wizard-horizontal a:hover, .navbar.navbar-sidebar-wizard a:focus {
    background: #256DA7;
}

hr {
    border-top: 1px solid #656565;
}

/* GFF Tab */
#gffContainer {
	padding-top:10px;
	padding-left:10px;
	white-space: nowrap;
}

ul.gff-struct, ul.gff-fields {
	position: relative;
	list-style: none;
	padding-left:25px;
}

ul.gff-struct.gff-root-struct {
	padding-left: 10px;
	padding-top: 10px;

	background: linear-gradient(to bottom, rgba(137,255,241,0) 0%,rgba(26, 78, 109, 0.25) 100%);
	background-size: 100% 50px;
	background-position: bottom;
	background-repeat: no-repeat;
}

ul.gff-fields {
	/*padding-left: 0;*/
}

li.gff-field.selected, li.gff-struct.selected {
	background: #133652;
}

li.gff-struct.gff-root-struct > label {
	color: #8476A2;
}

li.gff-struct > label {
	color: #8476A2;
}

li.gff-field span.field-label {
	color: #337A9C;
	/* color: #BD18FF; */
}

li.gff-field span.field-type {

}

li.gff-field span.field-value {
	/* color: #288A43; */
}

/*ul.gff-struct:before {
	content: '';
	width: 20px;
	height: 20px;
	left: 0px;
	position: absolute;
	background: white;
}*/

ul.gff-struct, ul.gff-fields, li.gff-field {
	cursor: pointer;
}

#gffProperties legend {
	margin-bottom:0;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    text-indent: 0;
    animation: marquee 30s linear infinite;
}
.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
	border-radius: 10px;
	background:transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 10px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #258CE4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}

input[type=range]:disabled::-webkit-slider-runnable-track {
	background:#333;
}

input[type=range]:disabled::-webkit-slider-thumb {
	background:#555;
}

input[type="range"].volume:before {
    content: "\e038";
    display: inline-block;
    width: 16px;
    height: 16px;
    font-family: 'Glyphicons Halflings';
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}

.gray {
	-webkit-filter: grayscale(100%);
}

.vertical-align {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;

	    flex-direction: column;
}






/* TWODA TAB */

table.twoda {
	white-space: nowrap;
}

table.twoda > thead > tr > th {
    padding: 5px;
    background-color: #265c8c;
    border-right: 1px solid #192631;
}

table.twoda > tbody > tr:nth-child(odd) > td {
    background: #212121;
}

table.twoda > tbody > tr > td {
    padding: 5px;
    border-right: 1px solid #192631;
}

table.twoda.fixed {
	position: absolute;
	top:0;
	left:0;
}



.list-group-item.list-group-header {
    background-color: #337ab7;
    color: white;
    padding: 0;
}

.list-group-item.list-group-header span {
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.list-group-item {
    background-color: #333;
    border: 1px solid #1f1f1f;
}

li.list-group-item:hover {
    background-color: #255d8e;
    border: 1px solid #337ab7;
    z-index: 1;
}


.file-browser {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.file-browser-list {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
}

.file-browser-header {
    position: absolute;
    top: 0;
    bottom: 42px;
    left: 0;
    right: 0;
    background-color: #337ab7;
    color: white;
    padding-left: 0;
}

.file-browser-header span {
    display: inline-flex; width: 33.33%;
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.file-browser-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #333;
    border: 1px solid #1f1f1f;
}

.file-browser-item span {
    padding: 10px 0 10px 10px;
    display: inline-flex; width: 33.33%;
}

.file-browser-item:hover, .file-browser-item:focus {
    background-color: #255d8e;
    border: 1px solid #337ab7;
    z-index: 1;
    cursor: pointer;
}



/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
	height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  -webkit-border-radius: 5px;
  border-radius: 5px;
	background: #464646;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-corner {
  background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #337ab7;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #777;
}

.my-list-group li.list-group-item {
    background-color: #073348;
    border-color: #07628e;
    cursor: pointer;
}

.my-list-group li.list-group-item.selected {
    background-color: #07628e;
}





.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.float-ui {
  position: absolute!important;
  top: 150px;
  left: 20px;
  background: #121212;
  width: 30px;
  text-align: center;
}

.float-ui .float-ui-header {
  background: #265c8c;
  height: 20px;
}

.float-ui .float-ui-content ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}


.appearance-block {
    /* border: 1px solid #000; */
    border-radius: 10px;
    /* margin: 0 5px 5px 0; */
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}

.appearance-block.selected {
    outline: 2px solid #0b800f;
}

.appearance-block img {
    width: 100%!important;
    height: 100%!important;
}

.appearance-block.selected::after {
    content: "\2713 ";
    position: absolute;
    /* width: 25px; */
    /* height: 25px; */
    padding: 2px 7px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background: #09b509;
    color: black;
    font-size: 14pt;
    box-shadow: 0px 0px 10px #005f03;
    /* z-index: 100000; */
}


.iSlots {
	width: 200px;
}

.iSlots > .iSlot {
	width: 64px;
	height: 64px;
	border: 2px solid #545454;
	background-color: #1d1d1d;
	display: inline-block;
}

.iSlots > .iSlot.iimplant {
	background-image: url('../images/gui/iimplant.png');
}

.iSlots > .iSlot.ihead {
	background-image: url('../images/gui/ihead.png');
}

.iSlots > .iSlot.ihands {
	background-image: url('../images/gui/ihands.png');
}

.iSlots > .iSlot.iforearm_l {
	background-image: url('../images/gui/iforearm_l.png');
}

.iSlots > .iSlot.iarmor {
	background-image: url('../images/gui/iarmor.png');
}

.iSlots > .iSlot.iforearm_r {
	background-image: url('../images/gui/iforearm_r.png');
}

.iSlots > .iSlot.ihand_l {
	background-image: url('../images/gui/ihand_l.png');
}

.iSlots > .iSlot.ibelt {
	background-image: url('../images/gui/ibelt.png');
}

.iSlots > .iSlot.ihand_r {
	background-image: url('../images/gui/ihand_r.png');
}

.iSlots > .iSlot.iimplant.equipped, .iSlots > .iSlot.ihead.equipped, .iSlots > .iSlot.ihands.equipped {
	background-image: url('../images/gui/i_top.png');
}

.iSlots > .iSlot.iforearm_l.equipped, .iSlots > .iSlot.iarmor.equipped, .iSlots > .iSlot.iforearm_r.equipped {
	background-image: url('../images/gui/i_middle.png');
}

.iSlots > .iSlot.ihand_l.equipped, .iSlots > .iSlot.ibelt.equipped, .iSlots > .iSlot.ihand_r.equipped {
	background-image: url('../images/gui/i_bottom.png');
}

.iSlots > .iSlot.ihead {
	background-image: url('../images/gui/ihead.png');
}

.iSlots > .iSlot.ihands {
	background-image: url('../images/gui/ihands.png');
}

.iSlots.droid > .iSlot.iimplant {
	background-image: url('../images/gui/idimplant.png');
}

.iSlots.droid > .iSlot.ihead {
	background-image: url('../images/gui/idhead.png');
}

.iSlots.droid > .iSlot.ihands {
	background-image: url('../images/gui/idhands.png');
}

.iSlots.droid > .iSlot.iforearm_L {
	background-image: url('../images/gui/idforearm_l.png');
}

.iSlots.droid > .iSlot.iarmor {
	background-image: url('../images/gui/idarmor.png');
}

.iSlots.droid > .iSlot.iforearm_r {
	background-image: url('../images/gui/idforearm_r.png');
}

.iSlots.droid > .iSlot.ihand_l {
	background-image: url('../images/gui/idweap_l.png');
}

.iSlots.droid > .iSlot.ibelt {
	background-image: url('../images/gui/idbelt.png');
}

.iSlots.droid > .iSlot.ihand_r {
	background-image: url('../images/gui/idweap_r.png');
}

.iSlots > .iSlot.equipped {
	border: 2px solid #0a8e01;
}

#object-properties input[type=text] {
  margin: 0;
  font-size: 10pt;
  padding: 2px;
  border-radius: 0px;
  border: 1px solid #29b3dc;
}

#object-properties input[type=text] {
  margin: 0;
  font-size: 10pt;
  padding: 2px;
  border-radius: 0px;
  border: 1px solid #29b3dc;
}

#object-properties button.btn.btn-default {
    padding: 2px;
    border: 1px solid #5bc0de;
    border-radius: 0;
    font-size: 10pt;
    margin: 0;
}


.checkerboard {
	background-color: white;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ccc), color-stop(.25, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ccc), color-stop(.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ccc)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ccc));
  background-size: 100px 100px;
  -webkit-background-size: 100px 101px;
  background-position: 0 0, 50px 0, 50px -50px, 0px 50px;
}

.info-pane {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	border-top-right-radius: 10px;
}

.windowpane {
    display: block;
    position: absolute;
    background: #30303D;
    /*min-width: 150px;*/
    width: 250px;
}

.windowpane .windowpane-title {
    display: block;
    min-height: 20px;
    width: 100%;
    background: #337ab7;
    cursor: all-scroll;
    padding: 5px;
}

.windowpane .windowpane-content {
    display: block;
    width: 100%;
    padding: 5px;
}

.windowpane-content .title {
    color: #62b3f9;
}

.windowpane-content select {
    width: 100%;
}

.keyframe-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: #30303D;
    overflow-x: scroll;
    user-select: none;
}

.keyframe-track {
    height: 38px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.keyframe-time-track {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 25px;
    background: #222;
    min-width: 100%;
    cursor: pointer;
}

.keyframe-track-seeker {
    position: absolute;
    left: 100%;
    height: 50px;
    width: 1px;
    background: #5bc0de;
    bottom: 0;
}

.seeker-thumb {
    position: absolute;
    margin-left: -9.5px;
    margin-top: -12px;
    cursor: col-resize;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #5bc0de;
}

.keyframe {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    background: #777;
    top: calc( (38px / 2) - 5px );
    transform: rotate(45deg);
}

.keyframe:hover, .keyframe.selected {
    border: 1px solid #f0ad4e;
    box-shadow: 0 0 5px 1px #f0ad4e;
    background: radial-gradient(#fff 0%, #f0ad4e 100%);
    z-index: 1;
    cursor: col-resize;
}

.keyframe-controls {
    position: absolute;
    /*left: calc( 50% - (75px / 2) );*/
    bottom: 75px;
    z-index: 1000;
    height: auto!important;
    font-size: 28pt;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    background: #1f1f25;
    border-bottom: 2px solid #111;
    padding: 10px;
    line-height: 0;
    user-select: none;
}

.keyframe-controls a {
    margin-left: 15px;
}

.keyframe-controls a:nth-child(1) {
    margin-left: initial;
}

.CExoLocString-holder .btn-edit-holder {
    font-size: 14pt;
    padding: 0;
    vertical-align: middle;
    padding-top: 4.5pt;
}

input[type=checkbox].ui {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

input[type=checkbox].ui + label {
    padding: 5px 10px;
    /*background: #777;*/
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
}

input[type=checkbox].ui:checked + label {
    /*background: linear-gradient(#337ab7 0%, #2e6da4 100%);*/
}

input[type=checkbox].ui + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: radial-gradient(ellipse at center, #afafaf 0%,#efefef 100%);
    border: 2px solid #4c4c4c;
    box-shadow: 1px 1px 5px #424242;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: -5px;
    margin-right: 5px;
}

input[type=checkbox].ui:checked + label:before {
    background: radial-gradient(ellipse at center, #337ab7 0%,#5bc0de 100%);
    border: 2px solid #2e6da4;
    box-shadow: 1px 1px 5px #307592;
}



/* TSL Color Override */
/* #337ab7 */

.TSL .menu-accent .inner {
    background: rgba(26, 178, 140, 255);
}

.TSL .menu-accent::before, .TSL .menu-accent::after {
    border-top-color: rgba(26, 178, 140, 255);
}

.TSL .navbar-brand, .TSL .navbar-nav>li>a {
    background: #212121;
    border-right: 2px solid rgb(11, 70, 55);
  }

.TSL .nav .open > a, .TSL .nav .open > a:focus, .TSL .nav .open > a:hover {
    background-color: rgb(26, 178, 140);
    border-color: rgb(26, 178, 140);
    color: white;
}

.TSL .dropdown-menu>li>a:focus, .TSL .dropdown-menu>li>a:hover {
    background-color: rgb(12, 111, 86);
}

.TSL .ball, .TSL .ball1 {
    border-bottom-color: rgba(26, 178, 140, 0.9);
    border-right-color: rgba(26, 178, 140, 0.9);
}

.TSL .ball{
    box-shadow: 0 0 35px rgb(26, 178, 140);
}

.TSL .ball1 {
    box-shadow: 0 0 15px rgb(26, 178, 140);
}


/* TSL Inputs */

.TSL a {
    color: rgb(26, 178, 140);
}

.TSL a:focus, .TSL a:hover {
    color: rgb(27, 195, 153);
}

.TSL .form-control, .TSL pre, .TSL input[type=text], .TSL input[type=number], .TSL input[type=cexolocstring], .TSL textarea {
    color: #CCC;
    background: rgb(26, 178, 140);
    background: linear-gradient(rgb(14, 72, 57) 0%, rgb(12, 111, 86) 100%);
    border: 2px solid rgb(26, 178, 140);
    box-shadow: 2px 2px 10px #1d1d1d;
}

.TSL select {
    background: rgb(14, 72, 57);
    background-image: linear-gradient(rgb(14, 72, 57) 0%, rgb(12, 111, 86) 100%);
    border: 2px solid rgb(26, 178, 140);
    outline-color: rgb(26, 178, 140);
    box-shadow: 2px 2px 10px #1d1d1d;
}

.TSL button[disabled], html .TSL input[disabled], .TSL textarea[disabled] {
    background: rgb(49, 68, 63);
    border: 2px solid rgb(26, 178, 140);
}

.TSL fieldset {
    border: 2px solid rgb(26, 178, 140);
}

.TSL button, .TSL .btn-default {
    background: rgb(12, 111, 86);
    border: 2px solid rgb(26, 178, 140);
	text-shadow: 0 1px 0 rgb(14, 72, 57);
}

.TSL .btn-default:focus, .TSL .btn-default:hover {
    background-color: rgb(12, 143, 110);
    border-color: rgb(25, 212, 166);
}

.TSL .btn-default.active, .TSL .btn-default:active {
    background-color: rgb(12, 143, 110);
    border-color: rgb(25, 212, 166);
}

.TSL .btn-default.active.focus, .TSL .btn-default.active:focus, .TSL .btn-default.active:hover, .TSL .btn-default:active.focus, .TSL .btn-default:active:focus, .TSL .btn-default:active:hover, .TSL .open>.dropdown-toggle.btn-default.focus, .TSL .open>.dropdown-toggle.btn-default:focus, .TSL .open>.dropdown-toggle.btn-default:hover {
    background-color: rgb(12, 143, 110);
    border-color: rgb(25, 212, 166);
}

.TSL button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.TSL .css-treeview label::before {
    color: rgb(26, 178, 140);
}

.TSL .tree-container > label {
    background: rgb(12, 111, 86);
}


/* Controls */

.TSL .windowpane .windowpane-title {
    background: rgb(12, 111, 86);
}

.TSL .windowpane-content .title {
    color: rgb(26, 178, 140);
}

.TSL .ui-layout-toggler {
    border: 1px solid rgb(12, 111, 86);
    background-color: rgb(14, 72, 57);
}

.TSL .tabs-menu li.current {
    border-left: 3px solid rgb(12, 111, 86);
}

.TSL .navbar.navbar-sidebar-wizard-horizontal a:hover, .TSL .navbar.navbar-sidebar-wizard a:focus {
    background: rgb(26, 178, 140);
}

.TSL .nav>li>a:focus, .TSL .nav>li>a:hover {
    background-color: rgb(26, 178, 140);
}

.TSL .navbar.navbar-sidebar-wizard-horizontal a {
    color: #CCC;
}