<div class="row" style="padding: 10px;">
  <div class="col-xs-12">
    <center><h1 style="font-family: 'Trajan'; font-weight: bold; color: #d6b400;;">KOTOR Forge</h1></center>
  </div>
  <div class="col-xs-12">
    <label>Start</label>
    <div>
      <a id="btn-new-project" href="#">New Project</a><br>
      <a id="btn-open-project" href="#">Open Project</a><br>
    </div>
    <br>
    <label>Recent Projects</label>
    <div>
      <ul id="list-recent-projects" class="tree">

      </ul>
    </div>
    <label>Recent Files</label>
    <div>
      <ul id="list-recent-files" class="tree">

      </ul>
    </div>
  </div>
</div>
