

/* GFF Tab */
#gffContainer {
  padding-top:10px;
  padding-left:10px;
  white-space: nowrap;
}

ul.gff-struct, ul.gff-fields {
  position: relative;
  list-style: none;
  padding-left: 0;
}

ul.gff-struct {
  &.gff-root-struct {
    padding-left: 10px;
    padding-top: 10px;
  
    background: linear-gradient(to bottom, rgba(137,255,241,0) 0%,rgba(26, 78, 109, 0.25) 100%);
    background-size: 100% 50px;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

ul.gff-fields {
  /*padding-left: 0;*/
}

li.gff-field.selected, li.gff-struct.selected {
  background: #133652;
}

li.gff-struct.gff-root-struct > label {
  color: #8476A2;
}

li.gff-struct > label {
  color: #8476A2;
}

li.gff-field span.field-label {
  color: #337A9C;
  /* color: #BD18FF; */
}

li.gff-field span.field-type {

}

li.gff-field span.field-value {
  /* color: #288A43; */
}

ul.gff-struct, ul.gff-fields, li.gff-field {
  cursor: pointer;
}

#gffProperties legend {
  margin-bottom:0;
}

li.gff-field.add {
  display: flex;
  align-items: center;

  .field-icon {
    margin-left: -2px;
  }

  .field-label {
    margin-left: 6px;
    font-weight: bold;
  }
}

li.gff-struct.add {
  display: flex;
  align-items: center;

  .struct-icon {
    margin-left: -2px;
  }

  .struct-label {
    margin-left: 6px;
    font-weight: bold;
  }
}