node_modules/
release/
settings.json
crash.log
npm-debug.log
*.gypi
backup/

.ds_store
projects/
Saves/
tests/
# src/**/*.js
dist/
debug.log
docs/
coverage/
scratch/
.history/

eslint-creature.txt
eslint-compact.txt
.tmp_lint_batch.txt
eslint-moduleobject.json
module-creature-errors.txt
module-creature-eslint-errors.txt
