<div style="height: 100%;">
  <div class="vertical-tabs" style="height: 100%;">
    <div class="navbar navbar-sidebar-wizard-horizontal" role="navigation">
      <ul class="nav sidebar-nav" style="text-align: center;">
        <li class="active"><a href="#utd-tab-basic-{tabId}">Basic</a></li>
        <li><a href="#utd-tab-lock-{tabId}">Lock</a></li>
        <li><a href="#utd-tab-advanced-{tabId}">Advanced</a></li>
        <li><a href="#utd-tab-scripts-{tabId}">Scripts</a></li>
        <li><a href="#utd-tab-description-{tabId}">Description</a></li>
        <li><a href="#utd-tab-comments-{tabId}">Comments</a></li>
      </ul>
    </div>
    <div id="utd-tab-content-{tabId}" style="position: relative; height: 100%;">
      <div id="utd-preview-{tabId}" class="editor-3d-preview" style="position: absolute; top:0; bottom: 0; left: 0; right: 50%;"></div>
      <div id="editor-content" class="tabs" style="position: absolute; top:0; bottom: 0; left: 50%; right: 0; overflow-y: auto; padding: 0 10px;">
        <!-- Basic -->
        <div id="utd-tab-basic-{tabId}" class="tab-pane" style="display: block;">
          <h3>Basic</h3>
          <hr>

          <table style="width: 100%;">
            <tbody>
                <tr>
                  <td><label for="utd-name-{tabId}">Name</label></td>
                  <td><input id="utd-name-{tabId}" type="cexolocstring" /></td>
                </tr>
                <tr>
                  <td><label for="utd-tag-{tabId}">Tag</label></td>
                  <td><input id="utd-tag-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-door-type-{tabId}">Door Type</label></td>
                  <td><select id="utd-door-type-{tabId}"></select></td>
                </tr>
                <tr>
                  <td><input id="utd-plot-item-{tabId}" type="checkbox" class="ui" /><label for="utd-plot-item-{tabId}">Plot Item</label></td>
                  <td><input id="utd-static-{tabId}" type="checkbox" class="ui" /><label for="utd-static-{tabId}">Static</label></td>
                </tr>
                <tr>
                  <td><label for="utd-hardness-{tabId}">Hardness</label></td>
                  <td><input id="utd-hardness-{tabId}" type="number" min="0" /></td>
                </tr>
                <tr>
                  <td><label for="utd-hit-points-{tabId}">Hitpoints</label></td>
                  <td><input id="utd-hit-points-{tabId}" type="number" min="0" /></td>
                </tr>
                <tr>
                  <td><label for="utd-fortitude-save-{tabId}">Forititude Save</label></td>
                  <td><input id="utd-fortitude-save-{tabId}" type="number" min="0" /></td>
                </tr>
                <tr>
                  <td><label for="utd-reflex-save-{tabId}">Reflex Save</label></td>
                  <td><input id="utd-reflex-save-{tabId}" type="number" min="0" /></td>
                </tr>
                <tr>
                  <td><label for="utd-will-save-{tabId}">Will Save</label></td>
                  <td><input id="utd-will-save-{tabId}" type="number" min="0" /></td>
                </tr>
            </tbody>
          </table>
          
        </div>
        <!-- Lock -->
        <div id="utd-tab-lock-{tabId}" class="tab-pane">
          <h3>Lock</h3>
          <hr>
          <table style="width:100%;">
            <tbody>
              <tr>
                <td>
                  <input id="utd-locked-{tabId}" type="checkbox" class="ui" /><label for="utd-locked-{tabId}" class="checkbox-label">Locked</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input id="utd-lockable-{tabId}" type="checkbox" class="ui" /><label for="utd-lockable-{tabId}" class="checkbox-label">Can be relocked</label>
                </td>
              <tr>
              </tr>
                <td>
                  <input id="utd-auto-remove-key-{tabId}" type="checkbox" class="ui" /><label for="utd-auto-remove-key-{tabId}" class="checkbox-label">Auto remove key after use</label>
                </td>
              </tr>
              </tr>
                <td>
                  <input id="utd-key-required-{tabId}" type="checkbox" class="ui" /><label for="utd-key-required-{tabId}" class="checkbox-label">Key required to unlock or lock</label>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <table style="width:100%;">
            <tbody>
              <tr>
                <td><label for="utd-open-lock-dc-{tabId}">Open Lock DC</label></td>
                <td><input id="utd-open-lock-dc-{tabId}" type="number" /></td>
              </tr>
              <tr>
                <td><label for="utd-close-lock-dc-{tabId}">Close Lock DC</label></td>
                <td><input id="utd-close-lock-dc-{tabId}" type="number" /></td>
              </tr>
              <tr>
                <td><label for="utd-key-tag-{tabId}">Key Name</label></td>
                <td><input id="utd-key-tag-{tabId}" type="text" maxlength="16" /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Advanced -->
        <div id="utd-tab-advanced-{tabId}" class="tab-pane">
          <h3>Advanced</h3>
          <hr>

          <table style="width: 100%;">
            <tbody>
              <tr>
                <td><label for="utd-template-res-ref-{tabId}">Blueprint ResRef</label></td>
                <td><input id="utd-template-res-ref-{tabId}" type="text" disabled /></td>
              </tr>
              <tr>
                <td><label for="utd-faction-{tabId}">Faction</label></td>
                <td><select id="utd-faction-{tabId}" ></select></td>
              </tr>
              <tr>
                <td><label for="utd-conversation-{tabId}">Conversation</label></td>
                <td>
                  <input id="utd-conversation-{tabId}" type="text" maxlength="16" style="width: auto; " />
                  <div class="ui-checkbox" style="display: inline-block;">
                    <input id="utd-no-interrupt-{tabId}" type="checkbox" class="ui" />
                    <label for="utd-no-interrupt-{tabId}">No Interrupt</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="utd-animation-state{tabId}">Animation State</label></td>
                <td><input id="utd-animation-state-{tabId}" type="number" /></td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <!-- Scripts -->
        <div id="utd-tab-scripts-{tabId}" class="tab-pane">
          <h3>Scripts</h3>
          <hr>
          <table style="width: 100%;">
            <tbody>
                <tr>
                  <td><label for="utd-on-click-{tabId}">OnClick</label></td>
                  <td><input id="utd-on-click-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-closed-{tabId}">OnClosed</label></td>
                  <td><input id="utd-on-closed-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-damaged-{tabId}">OnDamaged</label></td>
                  <td><input id="utd-on-damaged-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-death-{tabId}">OnDeath</label></td>
                  <td><input id="utd-on-death-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-disarm-{tabId}">OnDisarm</label></td>
                  <td><input id="utd-on-disarm-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-fail-to-open-{tabId}">OnFailToOpen</label></td>
                  <td><input id="utd-on-fail-to-open-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-heartbeat-{tabId}">OnHeartbeat</label></td>
                  <td><input id="utd-on-heartbeat-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-lock-{tabId}">OnLock</label></td>
                  <td><input id="utd-on-lock-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-melee-attacked-{tabId}">OnMeleeAttacked</label></td>
                  <td><input id="utd-on-melee-attacked-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-open-{tabId}">OnOpen</label></td>
                  <td><input id="utd-on-open-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-spell-cast-at-{tabId}">OnSpellCastAt</label></td>
                  <td><input id="utd-on-spell-cast-at-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-trap-triggered-{tabId}">OnTrapTriggered</label></td>
                  <td><input id="utd-on-trap-triggered-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-unlock-{tabId}">OnUnlock</label></td>
                  <td><input id="utd-on-unlock-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utd-on-user-defined-{tabId}">OnUserDefined</label></td>
                  <td><input id="utd-on-user-defined-{tabId}" type="text" maxlength="16" /></td>
                </tr>
            </tbody>
          </table>

        </div>
        <!-- Description -->
        <div id="utd-tab-description-{tabId}" class="tab-pane">
          <h3>Description</h3>
          <hr>
          <label for="utd-description-{tabId}">Description</label>
          <textarea id="utd-description-{tabId}" type="cexolocstring" ></textarea>
        </div>
        <!-- Comments -->
        <div id="utd-tab-comments-{tabId}" class="tab-pane">
          <h3>Comments</h3>
          <hr>
          <label for="utd-comments-{tabId}">Comments</label>
          <textarea id="utd-comments-{tabId}" ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
