<div style="height: 100%;">
  <div class="vertical-tabs" style="height: 100%;">
    <div class="navbar navbar-sidebar-wizard-horizontal" role="navigation">
      <ul class="nav sidebar-nav" style="text-align: center;">
        <li class="active"><a href="#utp-tab-basic-{tabId}">Basic</a></li>
        <li><a href="#utp-tab-lock-{tabId}">Lock</a></li>
        <li><a href="#utp-tab-advanced-{tabId}">Advanced</a></li>
        <li><a href="#utp-tab-scripts-{tabId}">Scripts</a></li>
        <li><a href="#utp-tab-description-{tabId}">Description</a></li>
        <li><a href="#utp-tab-comments-{tabId}">Comments</a></li>
        <li><a href="#utp-tab-trap-{tabId}">Trap</a></li>
      </ul>
    </div>
    <div id="utp-tab-content-{tabId}" style="position: relative; height: 100%;">
      <div id="utp-preview-{tabId}" class="editor-3d-preview" style="position: absolute; top:0; bottom: 0; left: 0; right: 50%;"></div>
      <div id="editor-content" class="tabs" style="position: absolute; top:0; bottom: 0; left: 50%; right: 0; overflow-y: auto; padding: 0 10px;">
        <!-- Basic -->
        <div id="utp-tab-basic-{tabId}" class="tab-pane" style="display: block;">
          <h3>Basic</h3>
          <hr>

          <table style="width:100%;">
            <tbody>
              <tr>
                <td><label for="utp-name-{tabId}">Name</label></td>
                <td><input id="utp-name-{tabId}" type="cexolocstring" /></td>
              </tr>
              <tr>
                <td><label for="utp-tag-{tabId}">Tag</label></td>
                <td><input id="utp-tag-{tabId}" type="text" maxlength="16" /></td>
              </tr>
              <tr>
                <td><label for="utp-appearance-{tabId}">Appearance</label></td>
                <td><select id="utp-appearance-{tabId}"></select></td>
              </tr>
            </tbody>
          </table>
          <br>
          <table style="width:100%;">
            <tbody>
              <tr>
                <td>
                  <input id="utp-plot-item-{tabId}" type="checkbox" class="ui" /><label for="utp-plot-item-{tabId}">Plot Item</label>
                </td>
                <td>
                  <input id="utp-static-{tabId}" type="checkbox" class="ui" /><label for="utp-static-{tabId}">Static</label>
                </td>
                <td>
                  <input id="utp-min-1hp-{tabId}" type="checkbox" class="ui" /><label for="utp-min-1hp-{tabId}">Min 1HP</label>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <table style="width:100%;">
            <tbody>
              <tr>
                <td><label for="utp-hardness-{tabId}">Hardness</label></td>
                <td><input id="utp-hardness-{tabId}" type="number" min="0" /></td>
              </tr>
              <tr>
                <td><label for="utp-hit-points-{tabId}">Hitpoints</label></td>
                <td><input id="utp-hit-points-{tabId}" type="number" min="0" /></td>
              </tr>
              <tr>
                <td><label for="utp-fortitude-save-{tabId}">Forititude Save</label></td>
                <td><input id="utp-fortitude-save-{tabId}" type="number" min="0" /></td>
              </tr>
              <tr>
                <td><label for="utp-reflex-save-{tabId}">Reflex Save</label></td>
                <td><input id="utp-reflex-save-{tabId}" type="number" min="0" /></td>
              </tr>
              <tr>
                <td><label for="utp-will-save-{tabId}">Will Save</label></td>
                <td><input id="utp-will-save-{tabId}" type="number" min="0" /></td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- Lock -->
        <div id="utp-tab-lock-{tabId}" class="tab-pane">
          <h3>Lock</h3>
          <hr>
          <table style="width:100%;">
            <tbody>
              <tr>
                <td>
                  <input id="utp-locked-{tabId}" type="checkbox" class="ui" /><label for="utp-locked-{tabId}" class="checkbox-label">Locked</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input id="utp-lockable-{tabId}" type="checkbox" class="ui" /><label for="utp-lockable-{tabId}" class="checkbox-label">Can be relocked</label>
                </td>
              <tr>
              </tr>
                <td>
                  <input id="utp-auto-remove-key-{tabId}" type="checkbox" class="ui" /><label for="utp-auto-remove-key-{tabId}" class="checkbox-label">Auto remove key after use</label>
                </td>
              </tr>
              </tr>
                <td>
                  <input id="utp-key-required-{tabId}" type="checkbox" class="ui" /><label for="utp-key-required-{tabId}" class="checkbox-label">Key required to unlock or lock</label>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <table style="width:100%;">
            <tbody>
              <tr>
                <td><label for="utp-open-lock-dc-{tabId}">Open Lock DC</label></td>
                <td><input id="utp-open-lock-dc-{tabId}" type="number" /></td>
              </tr>
              <tr>
                <td><label for="utp-close-lock-dc-{tabId}">Close Lock DC</label></td>
                <td><input id="utp-close-lock-dc-{tabId}" type="number" /></td>
              </tr>
              <tr>
                <td><label for="utp-key-tag-{tabId}">Key Name</label></td>
                <td><input id="utp-key-tag-{tabId}" type="text" maxlength="16" /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Advanced -->
        <div id="utp-tab-advanced-{tabId}" class="tab-pane">
          <h3>Advanced</h3>
          <hr>
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td><label for="utp-template-res-ref-{tabId}">Blueprint ResRef</label></td>
                <td><input id="utp-template-res-ref-{tabId}" type="text" disabled /></td>
              </tr>
              <tr>
                <td><label for="utp-faction-{tabId}">Faction</label></td>
                <td><select id="utp-faction-{tabId}" ></select></td>
              </tr>
              <tr>
                <td><label for="utp-conversation-{tabId}">Conversation</label></td>
                <td>
                  <input id="utp-conversation-{tabId}" type="text" maxlength="16" style="width: auto; " />
                  <div class="ui-checkbox" style="display: inline-block;">
                    <input id="utp-no-interrupt-{tabId}" type="checkbox" class="ui" />
                    <label for="utp-no-interrupt-{tabId}">No Interrupt</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="utp-animation-state-{tabId}">Animation State</label></td>
                <td><input id="utp-animation-state-{tabId}" type="number" /></td>
              </tr>
              <tr>
                <td><label for="utp-type-{tabId}">Type</label></td>
                <td><input id="utp-type-{tabId}" type="number" /></td>
              </tr>
            </tbody>
          </table>
          <br>
          <table style="width:100%;">
            <tbody>
              <tr>
                <td>
                  <input id="utp-has-inventory-{tabId}" type="checkbox" class="ui" /><label for="utp-has-inventory-{tabId}">Has Inventory</label>
                </td>
                <td>
                  <input id="utp-party-interact-{tabId}" type="checkbox" class="ui" /><label for="utp-party-interact-{tabId}">Party Interact</label>
                </td>
                <td>
                  <input id="utp-useable-{tabId}" type="checkbox" class="ui" /><label for="utp-useable-{tabId}">Usable</label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Scripts -->
        <div id="utp-tab-scripts-{tabId}" class="tab-pane">
          <h3>Scripts</h3>
          <hr>
          <table style="width: 100%;">
            <tbody>
                <tr>
                  <td><label for="utp-on-closed-{tabId}">OnClosed</label></td>
                  <td><input id="utp-on-closed-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-damaged-{tabId}">OnDamaged</label></td>
                  <td><input id="utp-on-damaged-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-death-{tabId}">OnDeath</label></td>
                  <td><input id="utp-on-death-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-disarm-{tabId}">OnDisarm</label></td>
                  <td><input id="utp-on-disarm-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-end-dialog-{tabId}">OnEndDialogue</label></td>
                  <td><input id="utp-on-end-dialog-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-heartbeat-{tabId}">OnHeartbeat</label></td>
                  <td><input id="utp-on-heartbeat-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-inv-distured-{tabId}">OnInvDisturbed</label></td>
                  <td><input id="utp-on-inv-distured-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-lock-{tabId}">OnLock</label></td>
                  <td><input id="utp-on-lock-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-melee-attacked-{tabId}">OnMeleeAttacked</label></td>
                  <td><input id="utp-on-melee-attacked-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-open-{tabId}">OnOpen</label></td>
                  <td><input id="utp-on-open-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-spell-cast-at-{tabId}">OnSpellCastAt</label></td>
                  <td><input id="utp-on-spell-cast-at-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-trap-triggered-{tabId}">OnTrapTriggered</label></td>
                  <td><input id="utp-on-trap-triggered-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-unlock-{tabId}">OnUnlock</label></td>
                  <td><input id="utp-on-unlock-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-used-{tabId}">OnUsed</label></td>
                  <td><input id="utp-on-used-{tabId}" type="text" maxlength="16" /></td>
                </tr>
                <tr>
                  <td><label for="utp-on-user-defined-{tabId}">OnUserDefined</label></td>
                  <td><input id="utp-on-user-defined-{tabId}" type="text" maxlength="16" /></td>
                </tr>
            </tbody>
          </table>
        </div>
        <!-- Comments -->
        <div id="utp-tab-comments-{tabId}" class="tab-pane">
          <h3>Comments</h3>
          <hr>
          <label for="utd-comment-{tabId}">Comments</label>
          <textarea id="utd-comments{tabId}" ></textarea>
        </div>
        <!-- Description -->
        <div id="utp-tab-description-{tabId}" class="tab-pane">
          <h3>Description</h3>
          <hr>
          <label for="utd-description-{tabId}">Description</label>
          <textarea id="utd-description-{tabId}" type="cexolocstring" ></textarea>
        </div>
        <!-- Trap -->
        <div id="utp-tab-trap-{tabId}" class="tab-pane">
          <h3>Trap</h3>
        </div>
      </div>
    </div>
  </div>
</div>
