<!-- New Project Modal -->
<div class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Game Path Finder</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="modal-game-finder-kotor-directory">Knigths of the Old Republic I Directory</label>
          <div class="input-group">
            <input id="modal-game-finder-kotor-directory" type="text" />
            <span class="input-group-btn">
              <button id="modal-game-finder-kotor-directory-browse" class="btn btn-default" type="button">Browse</button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="modal-game-finder-tsl-directory">Knigths of the Old Republic II Directory</label>
          <div class="input-group">
            <input id="modal-game-finder-tsl-directory" type="text" />
            <span class="input-group-btn">
              <button id="modal-game-finder-tsl-directory-browse" class="btn btn-default" type="button">Browse</button>
            </span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button id="modal-game-finder-save" type="button" class="btn btn-default">Save Paths</button>
      </div>
    </div>

  </div>
</div>
