<!-- New Project Modal -->
<div class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Creature Appearance Wizard</h4>
      </div>
      <div class="modal-body">

        <div id="modal-creature-appearance-list" class="row">

        </div>

      </div>
      <div class="modal-footer">
        <button id="modal-creature-appearance-choose" type="button" class="btn btn-default">Choose</button>
      </div>
    </div>
  </div>
</div>
