<!-- Info Modal -->
<div class="modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="modal-info-title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p id="modal-info-body"></p>
      </div>
      <div class="modal-footer">
        <button id="modal-info-close" type="button" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
