@import '../../../styles/_variables.scss';
.feat-row {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;

  &:hover {
    background: $bg-quaternary;
    border-radius: 3px;
  }

  .feat-icon {
    background: $bg-primary;
    border: 1px solid $border-primary;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px;
    padding-bottom: 0;
    margin: 5px;
    cursor: pointer;

    &.enabled {
      border-color: $primary-blue;
      background: $primary-blue-darker;
      color: $text-white;

      &:hover {
        border-color: $primary-blue-lighter;
      }
    }

    &.disabled {
      border-color: $border-primary;
      background: $bg-primary;
      color: $text-primary;

      &:hover {
        border-color: $primary-blue-light;
      }

      canvas {
        opacity: 0.5;
      }
    }
  }

  .sep-icon {
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-blue;
    font-size: larger;
  }

  .blank-icon {
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
  }
}

// =============================================================================
// INVENTORY SLOTS
// =============================================================================

.iSlots {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .iSlot {
    width: 64px;
    height: 64px;
    border: $border-width-thick solid $primary-blue;
    background-color: $bg-primary;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
    flex-basis: 30%;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      border-color: $primary-blue-light;
    }
  }
}