<div style="height: 100%;">
  <div class="vertical-tabs" style="height: 100%;">
    <div class="navbar navbar-sidebar-wizard-horizontal" role="navigation">
      <ul class="nav sidebar-nav" style="text-align: center;">
        <li class="active"><a href="#utc-tab-basic-{tabId}">Basic</a></li>
        <li><a href="#utc-tab-stats-{tabId}">Stats</a></li>
        <li><a href="#utc-tab-skills-{tabId}">Skills</a></li>
        <li><a href="#utc-tab-advanced-{tabId}">Advanced</a></li>
        <li><a href="#utc-tab-feats-{tabId}">Feats</a></li>
        <li><a href="#utc-tab-force-{tabId}">Force Powers</a></li>
        <li><a href="#utc-tab-class-{tabId}">Class</a></li>
        <li><a href="#utc-tab-special-{tabId}">Special Abilities</a></li>
        <li><a href="#utc-tab-scripts-{tabId}">Scripts</a></li>
        <li><a href="#utc-tab-inventory-{tabId}">Inventory</a></li>
        <li><a href="#utc-tab-comments-{tabId}">Comments</a></li>
      </ul>
    </div>
    <div id="utc-tab-content-{tabId}" style="position: relative; height: 100%;">
      <div id="utc-preview-{tabId}" class="editor-3d-preview" style="position: absolute; top:0; bottom: 0; left: 0; right: 50%;"></div>
      <div id="editor-content" class="tabs" style="position: absolute; top:0; bottom: 0; left: 50%; right: 0; overflow-y: auto; padding: 0 10px;">
        <!-- Basic -->
        <div id="utc-tab-basic-{tabId}" class="tab-pane" style="display: block; padding: 10px;">
          <h3 style="margin-top: 0;">Basic</h3>
          <hr>
          <fieldset>
            <legend>Profile</legend>
            <table>
              <tbody>
                  <tr>
                    <td><label for="utc-first-name-{tabId}">First Name</label></td>
                    <td><input id="utc-first-name-{tabId}" type="text" disabled /></td>
                  </tr>
                  <tr>
                    <td><label for="utc-last-name-{tabId}">Last Name</label></td>
                    <td><input id="utc-last-name-{tabId}" type="text" disabled /></td>
                  </tr>
                  <tr>
                    <td><label for="utc-tag-{tabId}">Tag</label></td>
                    <td><input id="utc-tag-{tabId}" type="text" maxlength="16" /></td>
                  </tr>
                  <tr>
                    <td><label for="utc-race-{tabId}">Race</label></td>
                    <td><select id="utc-race-{tabId}"></select></td>
                  </tr>
                  <tr>
                    <td><label for="utc-appearance-{tabId}">Appearance</label></td>
                    <td><select id="utc-appearance-{tabId}"></select></td>
                  </tr>
                  <tr>
                    <td><label for="utc-phenotype-{tabId}">Phenotype</label></td>
                    <td><select id="utc-phenotype-{tabId}"></select></td>
                  </tr>
                  <tr>
                    <td><label for="utc-gender-{tabId}">Gender</label></td>
                    <td><select id="utc-gender-{tabId}"></select></td>
                  </tr>
                  <tr>
                    <td><label for="utc-description-{tabId}">Description</label></td>
                    <td><input id="utc-description-{tabId}" type="text" /></td>
                  </tr>
                  <tr>
                    <td><label for="utc-bodybag-{tabId}">BodyBag</label></td>
                    <td><select id="utc-bodybag-{tabId}"></select></td>
                  </tr>
              </tbody>
            </table>
          </fieldset>

          <fieldset>
            <legend>Portrait</legend>
            <select id="utc-portrait-{tabId}"></select>
          </fieldset>

          <fieldset>
            <legend>Conversation</legend>
            <table style="width: 100%;">
              <tbody>
                <tr><!--label for="utc-dialog-{tabId}">Dialog</label-->
                  <td><input id="utc-dialog-{tabId}" type="text" /></td>
                  <td><input id="utc-dialog-no-interrupt-{tabId}" type="checkbox" /><label for="utc-dialog-no-interrupt-{tabId}">No Interrupt</label></td>
                </tr>
              </tbody>
            </table>
        </fieldset>

          
        </div>
        <!-- Stats -->
        <div id="utc-tab-stats-{tabId}" class="tab-pane">
          <h3>Stats</h3>
          <hr>
          <fieldset>
            <legend>Ability Scores</legend>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th></th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label for="utc-str-{tabId}">Strength</label></td>
                  <td><input id="utc-str-{tabId}" type="number" min="0" /></td>
                </tr>

                <tr>
                  <td><label for="utc-dex-{tabId}">Dexterity</label></td>
                  <td><input id="utc-dex-{tabId}" type="number" min="0" /></td>
                </tr>

                <tr>
                  <td><label for="utc-con-{tabId}">Constitution</label></td>
                  <td><input id="utc-con-{tabId}" type="number" min="0" /></td>
                </tr>

                <tr>
                  <td><label for="utc-int-{tabId}">Intelligence</label></td>
                  <td><input id="utc-int-{tabId}" type="number" min="0" /></td>
                </tr>

                <tr>
                  <td><label for="utc-wis-{tabId}">Wisdom</label></td>
                  <td><input id="utc-wis-{tabId}" type="number" min="0" /></td>
                </tr>

                <tr>
                  <td><label for="utc-cha-{tabId}">Charisma</label></td>
                  <td><input id="utc-cha-{tabId}" type="number" min="0" /></td>
                </tr>
              </tbody>
            </table>
          </fieldset>

          <fieldset>
            <legend>Saves</legend>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th></th>
                  <th>Bonus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label for="utc-fortbonus-{tabId}">Fortitude</label></td>
                  <td><input id="utc-fortbonus-{tabId}" type="number" min="0" /></td>
                </tr>
                <tr>
                  <td><label for="utc-refbonus-{tabId}">Reflex</label></td>
                  <td><input id="utc-refbonus-{tabId}" type="number" min="0" /></td>
                </tr>
                <tr>
                  <td><label for="utc-willbonus-{tabId}">Will</label></td>
                  <td><input id="utc-willbonus-{tabId}" type="number" min="0" /></td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          
          <table>
            <tr>
              <td style="width: 50%;">
                <fieldset>
                  <legend>Armor Class</legend>
                  <label for="utc-natural-ac-{tabId}">Natural AC</label>
                  <input id="utc-natural-ac-{tabId}" type="number" min="0" />
                </fieldset>
                <fieldset>
                  <legend>Speed</legend>
                  <label for="utc-walk-rate-{tabId}">Movement Rate</label>
                  <select id="utc-walk-rate-{tabId}"></select>
                </fieldset>
              </td>
              <td style="width: 50%;">
                <fieldset>
                  <legend>Hit Points</legend>
                  <label for="utc-hit-points-{tabId}">Base Hit Points</label>
                  <input id="utc-hit-points-{tabId}" type="number" min="0" />
      
                  <label for="utc-current-hit-points-{tabId}">Current Hit Points</label>
                  <input id="utc-current-hit-points-{tabId}" type="number" min="0" />
      
                  <label for="utc-max-hit-points-{tabId}">Max Hit Points</label>
                  <input id="utc-max-hit-points-{tabId}" type="number" min="0" />
                </fieldset>
              </td>
            </tr>
          </table>

          

          

        </div>
        <!-- Skills -->
        <div id="utc-tab-skills-{tabId}" class="tab-pane">
          <h3>Skills</h3>
          <hr>

          <label for="utc-computer-use-{tabId}">Computer Use</label>
          <input id="utc-computer-use-{tabId}" type="number" min="0" />

          <label for="utc-demolitions-{tabId}">Demolitions</label>
          <input id="utc-demolitions-{tabId}" type="number" min="0" />

          <label for="utc-stealth-{tabId}">Stealth</label>
          <input id="utc-stealth-{tabId}" type="number" min="0" />

          <label for="utc-awareness-{tabId}">Awareness</label>
          <input id="utc-awareness-{tabId}" type="number" min="0" />

          <label for="utc-persuade-{tabId}">Persuade</label>
          <input id="utc-persuade-{tabId}" type="number" min="0" />

          <label for="utc-repair-{tabId}">Repair</label>
          <input id="utc-repair-{tabId}" type="number" min="0" />

          <label for="utc-security-{tabId}">Security</label>
          <input id="utc-security-{tabId}" type="number" min="0" />

          <label for="utc-treat-injury-{tabId}">Treat Injury</label>
          <input id="utc-treat-injury-{tabId}" type="number" min="0" />

        </div>
        <!-- Advanced -->
        <div id="utc-tab-advanced-{tabId}" class="tab-pane">
          <h3>Advanced</h3>
          <hr>

          <table style="width: 100%;">
            <tbody>
              <tr>
                <td><label for="utc-template-res-ref-{tabId}">Blueprint ResRef</label></td>
                <td><input id="utc-template-res-ref-{tabId}" type="text" /></td>
              </tr>
            </tbody>
          </table>

          <fieldset>
            <legend>Interface</legend>
            <table style="width: 100%;">
              <tbody>
                <tr>
                  <td><label for="utc-disarmable-{tabId}">Disarmable</label></td>
                  <td><input id="utc-disarmable-{tabId}" type="checkbox" /></td>
                </tr>
                <tr>
                  <td><label for="utc-plot-{tabId}">Plot</label></td>
                  <td><input id="utc-plot-{tabId}" type="checkbox" /></td>
                </tr>
                <tr>
                  <td><label for="utc-no-perm-death-{tabId}">No Permanent Death</label></td>
                  <td><input id="utc-no-perm-death-{tabId}" type="checkbox" /></td>
                </tr>
                <tr>
                  <td><label for="utc-is-pc-{tabId}">Is PC</label></td>
                  <td><input id="utc-is-pc-{tabId}" type="checkbox" /></td>
                </tr>
                <tr>
                  <td><label for="utc-min-1-hp-{tabId}">Minimum 1 HP</label></td>
                  <td><input id="utc-min-1-hp-{tabId}" type="checkbox" /></td>
                </tr>
                <tr>
                  <td><label for="utc-subrace-{tabId}">Subrace</label></td>
                  <td><select id="utc-subrace-{tabId}"></select></td>
                </tr>
              </tbody>
            </table>
          </fieldset>

          <table style="width: 100%;">
            <tbody>
              <tr>
                <td>
                  <fieldset>
                    <legend>Challenge Rating</legend>
                    <input id="utc-challenge-rating-{tabId}" type="number" />
                  </fieldset>
                </td>
                <td>
                  <fieldset>
                    <legend>Sound Set</legend>
                    <select id="utc-sound-set-file-{tabId}"></select>
                  </fieldset>
                </td>
              </tr>
              <tr>
                <td>
                  <fieldset>
                    <legend>Faction</legend>
                    <select id="utc-faction-id-{tabId}"></select>
                  </fieldset>
                </td>
                <td>
                  <fieldset>
                    <legend>Perception Range</legend>
                    <select id="utc-perception-range-{tabId}"></select>
                  </fieldset>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- Feats -->
        <div id="utc-tab-feats-{tabId}" class="tab-pane">
          <h3>Feats</h3>
          <hr>
          <div id="utc-feats-wrapper-{tabId}"></div>
        </div>
        <!-- Force -->
        <div id="utc-tab-force-{tabId}" class="tab-pane">
          <h3>Force</h3>
          <hr>
        </div>
        <!-- Class -->
        <div id="utc-tab-class-{tabId}" class="tab-pane">
          <h3>Class</h3>
          <hr>
        </div>
        <!-- Special -->
        <div id="utc-tab-special-{tabId}" class="tab-pane">
          <h3>Special</h3>
          <hr>
        </div>
        <!-- Scripts -->
        <div id="utc-tab-scripts-{tabId}" class="tab-pane">
          <h3>Scripts</h3>
          <hr>
        </div>
        <!-- Stats -->
        <div id="utc-tab-inventory-{tabId}" class="tab-pane">
          <h3>Inventory</h3>
          <hr>
          <div id="utc-inventory-slots-{tabId}" class="iSlots">
            <div id="utc-inventory-slot-implant-{tabId}" class="iSlot texture-canvas" type="512"  texture="iimplant"></div>
            <div id="utc-inventory-slot-head-{tabId}"    class="iSlot texture-canvas" type="1"    texture="ihead"></div>
            <div id="utc-inventory-slot-wrists-{tabId}"  class="iSlot texture-canvas" type="8"    texture="ihands"></div>
            <div id="utc-inventory-slot-larm-{tabId}"    class="iSlot texture-canvas" type="128"  texture="iforearm_l"></div>
            <div id="utc-inventory-slot-chest-{tabId}"   class="iSlot texture-canvas" type="2"    texture="iarmor"></div>
            <div id="utc-inventory-slot-rarm-{tabId}"    class="iSlot texture-canvas" type="256"  texture="iforearm_r"></div>
            <div id="utc-inventory-slot-lhand-{tabId}"   class="iSlot texture-canvas" type="32"   texture="ihand_l"></div>
            <div id="utc-inventory-slot-belt-{tabId}"    class="iSlot texture-canvas" type="1024" texture="ibelt"></div>
            <div id="utc-inventory-slot-rhand-{tabId}"   class="iSlot texture-canvas" type="16"   texture="ihand_r"></div>
          </div>
        </div>
        <!-- Comments -->
        <div id="utc-tab-comments-{tabId}" class="tab-pane">
          <h3>Comments</h3>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
