<div id="container-{tabId}" class="content" style="position: absolute; top: 50px; bottom: 0; left: 0; right: 0;">
  <!-- Center Pane : Render View -->
  <div id="renderer-{tabId}" class="ui-layout-center"></div>
    

  <!-- Right Pane : Project View -->
  <div class="ui-layout-east" style="overflow: hidden; padding-right:0px;">
    <div id="project-templates-{tabId}" class="tree-container" style="height:50%; width:100%; position: relative;">
      <label>Scene</label>
      <div class="scroll-container" style="width:100%; overflow:scroll;">
        <ul id="scene-tree" class="tree css-treeview"></ul>
      </div>
    </div>
    <div id="object-properties-{tabId}" class="tree-container" style="height:50%; width:100%; position: relative;">
      <label>Object Properties</label>
      <div class="scroll-container" style="width:100%; overflow:scroll;">
        <div class="content">

        </div>
      </div>
    </div>
  </div>
</div>