<!-- Object Properties Modal -->
<div class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">TemplateResRef Picker</h4>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#modal-templateresref-game" class="glyphicon glyphicon-modal-window" title="Game Templates"></a></li>
          <li><a data-toggle="tab" href="#modal-templateresref-project" class="glyphicon glyphicon-modal-window" title="Project Templates"></a></li>
        </ul>

        <div class="tab-content" style="display: block; max-height: calc(100vh - 280px); overflow-y: scroll;">
          <div id="modal-templateresref-game" class="tab-pane fade in active">
            <ul id="modal-templateresref-game-list" class="list-group my-list-group">
            </ul>
          </div>
          <div id="modal-templateresref-project" class="tab-pane fade in">
            <ul id="modal-templateresref-project-list" class="list-group my-list-group">
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button id="modal-templateresref-choose" type="button" class="btn btn-default">Choose</button>
      </div>
    </div>

  </div>
</div>
