<!-- Object Properties Modal -->
<div class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Object Properties</h4>
      </div>
      <div class="modal-body">

        <label for="modal-object-properties-template-select">Template</label>
        <select id="modal-object-properties-template-select"></select>

        <label for="modal-object-properties-appearance-select">Appearance</label>
        <select id="modal-object-properties-appearance-select"></select>


      </div>
      <div class="modal-footer">
        <button id="modal-object-properties-update" type="button" class="btn btn-default">Update</button>
      </div>
    </div>

  </div>
</div>
