<!-- CExoLocSubString Modal -->
<div class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">CExoLocString SubString Editor</h4>
      </div>
      <div class="modal-body">

        <label for="modal-cexolocsubstring-substring-lbl">String</label>

        <div class="row">
          <div class="col-xs-12">
            <input id="modal-cexolocsubstring-substring" type="text" maxlength="1024" />
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <label for="modal-cexolocsubstring-substring-language-lbl">Language</label>
            <select id="modal-cexolocsubstring-substring-language"></select>
          </div>
          <div class="col-xs-6">
            <label for="modal-cexolocsubstring-substring-gender-lbl">Gender</label>
            <select id="modal-cexolocsubstring-substring-gender">
              <option value="0">Masculine / Neuteral</option>
              <option value="1">Feminine</option>
            </select>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button id="modal-cexolocsubstring-save" type="button" class="btn btn-default">Save</button>
        <button id="modal-cexolocsubstring-close" type="button" class="btn btn-default">Close</button>
      </div>
    </div>

  </div>
</div>
