<!-- Settings Modal -->
<div class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="sidebar-nav">
              <div class="navbar navbar-sidebar-wizard" role="navigation">
                <ul class="nav sidebar-nav">
                  <li class="active"><a href="#">Editor</a></li>
                  <li><a href="#">Game</a></li>
                  <li><a href="#">Themes</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="modal-content" class="col-sm-9">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal-config-save" type="button" class="btn btn-default">Save</button>
      </div>
    </div>

  </div>
</div>
