.tab-resource-explorer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__form {
    padding: 5px 0;
  }

  &__search-icon {
    padding: 5px;
  }

  &__loading {
    padding: 5px;
    width: 100%;
    height: 100px;

    &--hidden {
      display: none;
    }
  }

  &__progress {
    min-width: 100%;
    min-height: 25px;
  }

  &__scroll {
    width: 100%;
    overflow: auto;

    &--hidden {
      display: none;
    }
  }

  &__load-more {
    padding: 10px;
    text-align: center;
  }
}
