.modal-grant-access-wrapper {
  display: none;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background:rgba(0, 0, 0, 0.5);
  z-index: 1000000;

  &.show {
    display: flex!important;
    align-items: center;
    justify-content: center;
    cursor: auto;
    text-align: center;
  }

  .modal-grant-access {
    margin: auto;
    max-width: 720px;
    .modal-content-wrapper {
      padding: 20px;
    }
    .modal-button-wrapper {
      .modal-button {
        .grant {

        }
        .quit { 

        }
      }
    }
  }
}