

#loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.loading-container {
  left: 0;
  right: 0;
  position: fixed;
  bottom: 100px;
  font-size: 24pt;
  font-family: sans-serif;
  text-align: center;
}

#loader .background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  animation: loader-bg 5s infinite ease-in-out;
}

#loader .logo-wrapper {
  position: absolute;
  flex: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader .logo-wrapper img {
  animation: pulse 5s infinite ease-in-out;
}

.ball {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spin .5s infinite linear;
}

.ball1 {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  animation: spinoff .5s infinite linear;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0.7; }
  50% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); opacity: 0.7; }
}

@keyframes loader-bg {
  0% { opacity: 0.5; }
  50% { opacity: 0.4; }
  100% { opacity: 0.5; }
}

.fade-in {
  animation: fade-in 1s ease-in-out;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fade-out 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% { transform: scale(1); opacity: 0; }
  /* 50% { transform: scale(1); opacity: 0.5; } */
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fade-out {
  0% { transform: scale(1); opacity: 1; }
  /* 50% { transform: scale(1); opacity: 0.5; } */
  100% { transform: scale(1); opacity: 0; }
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0.7; }
  50% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); opacity: 0.7; }
}

@keyframes loader-bg {
  0% { opacity: 0.5; }
  50% { opacity: 0.4; }
  100% { opacity: 0.5; }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  };
}

@keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  };
}
