
/* Tabs */

ul.top-nav {
  list-style: none;
  position: absolute;
  line-height: 80px;
  -webkit-app-region: no-drag;
}

li.tab-btn {
  float: left;
  color: rgba(255,255,255,0.75);
  height: 80px;
}

li.tab-btn:hover {
  color: white;
  text-shadow: 0 0 25px #FFF;
}

li.tab-btn.selected {
  color: white;
  text-shadow: 0 0 25px #FFF;
}

li.tab-btn a {
  color: white;
  font-family: sans-serif;
  font-size: 18pt;
  text-decoration: none;
  padding: 0 20px;
  display: block;
}

li.tab-btn.nav-logo img {
  height: 40px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.tab-host {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom:0;
}

.tab-host .tab {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
}

.tab-host .tab.selected {
  display: block;
}

.tab-host .tab webview {
  border: none;
  width: 100%;
  height: 100%;
  background: black;
}